DayBuyDay/Service References/DB_ServiceReference/DbWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DayBuyDay.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DayBuyDay.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDbWebService.Products">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbWebService.Products" nillable="true" type="tns:DbWebService.Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbWebService.Products" nillable="true" type="tns:ArrayOfDbWebService.Products" />
  <xs:complexType name="DbWebService.Products">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbWebService.Products" nillable="true" type="tns:DbWebService.Products" />
</xs:schema>